<ng-container *ngIf="!compact">
  <div class="runway" *ngFor="let runway of runways">
    <p class="runway-name">
      Runway <span class="designator">{{ runway.designator }}</span>
      <span class="alt">heading {{ runway.headingDegrees | number: '3.0-0' }}&deg;</span>
    </p>
    <dl class="readings">
      <div class="row">
        <dt>{{ headwindLabel(runway) }}</dt>
        <dd>{{ magnitude(runway.headwindKts) | number: '1.0-0' }} kt</dd>
      </div>
      <div class="row">
        <dt>Crosswind</dt>
        <dd>
          {{ magnitude(runway.crosswindKts) | number: '1.0-0' }} kt
          <span class="alt">{{ crosswindSide(runway) }}</span>
        </dd>
      </div>
    </dl>
    <p class="warnings" *ngIf="hasWarning(runway)">
      <span class="warning" *ngFor="let warning of warnings(runway)">{{ warning }}</span>
    </p>
  </div>
  <p class="empty" *ngIf="runways.length === 0">No runway data available.</p>
</ng-container>

<ng-container *ngIf="compact">
  <p class="compact-line" *ngFor="let runway of runways">
    <span>
      RWY {{ runway.designator }}
      {{ magnitude(runway.headwindKts) | number: '1.0-0' }} kt
      {{ headwindLabel(runway) | lowercase }}
    </span>
    <span>
      {{ magnitude(runway.crosswindKts) | number: '1.0-0' }} kt crosswind
      <span class="alt">{{ crosswindSide(runway) }}</span>
    </span>
    <span class="warning" *ngFor="let warning of warnings(runway)">{{ warning }}</span>
  </p>
</ng-container>
